@import '../../../libs/docs/tokens/tokens.scss';
// TODO: 全てのページでimportするのはめんどくさいので、変数はどこでも使えるようにしたい

.page {
  background-color: #f0f0f0;
  min-height: 100vh;
}

.wrapper {
  display: grid;
  place-items: center;

  & > h1 {
    font-size: 3rem;
    color: $brand-a-theme;
  }
}
